html, body {
  color: #000;
  font-family: 'Century Gothic', 'Open sans', sans-serif; }

.header {
  background: url(../img/bg.jpeg) center fixed no-repeat; }
  .header .header_title {
    color: white;
    font-size: 80px; }
  .header .header_subtitle {
    color: white; }
  .header .navbar-item {
    font-weight: 500;
    color: #000;
    -webkit-transition: 156ms ease-in-out;
    transition: 156ms ease-in-out; }

.level-item {
  color: white; }
  .level-item .title {
    color: white; }

.column .image {
  cursor: pointer;
  -webkit-transition: 500ms ease-in;
  transition: 500ms ease-in; }
.column .image:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  z-index: 5; }

.heading.title {
  color: white; }

.section_title {
  color: #209cee; }

.section_two_description {
  padding-bottom: 1.5em; }

.project {
  background: url(../img/excavators.jpeg) center fixed no-repeat;
  padding: 4em;
  margin: 4em 0; }

.box {
  -webkit-transition: all 256ms ease-in;
  transition: all 256ms ease-in; }

.box:hover {
  background-color: #209cee;
  color: white;
  -webkit-box-shadow: 11px 10px 20px 4px rgba(10, 10, 10, 0.1);
          box-shadow: 11px 10px 20px 4px rgba(10, 10, 10, 0.1); }

.fa-heart {
  color: red; }

@media (max-width: 650px) {
  .header_title {
    color: white;
    font-size: 35px !important;
    margin-top: -2em; }

  .header_subtitle {
    margin: 0 0em;
    font-size: 14px; } }
