html, body{
    color: #09194F;
    font-family: 'Century Gothic', 'Open sans', sans-serif;
}
.header{
    background: url(../img/bg.jpeg) center fixed no-repeat;
}
.header_title{
    color: white;
    font-size: 80px;
}

.header_subtitle{
    color: white;
}

.project{
    background: url(../img/projects.jpeg) center fixed no-repeat;
    padding: 4em;
    margin: 4em 0;
}

.clients{
    background: url(../img/excavators.jpeg) center fixed no-repeat;
    padding: 4em;
}

.box{
    background-color: transparent;
    border: 2px solid #209cee;
    color: white;
}


@media (max-width : 650px){

    .header_title{
        color: white;
        font-size: 35px;
        margin-top: -2em;
    }
    .header_subtitle{
        margin: 0 0em;
        font-size: 14px;
    }
}
